# Flipkart Retail Product Data Analysis & Cleaning

# Step 1: Setup & Data Loading

### 1.1 Import Libraries

In [2]:
import pandas as pd 
import numpy as np

### 1.2 Load Dataset

In [73]:
df = pd.read_csv('flipkard_dataset.csv')
df.head(2)

,product_id,product_name,category,brand,seller,seller_city,price,discount_percent,final_price,rating,...,weight_g,warranty_months,color,size,return_policy_days,is_returnable,payment_modes,shipping_weight_g,product_score,seller_rating
0,FKP0000001,Adidas Ultra 664,Toys,Adidas,MegaStore,Hyderabad,35547.34,15,30215.24,1.9,...,3038.23,36,Green,XL,30,True,"COD,CARD",3483.592454,6.78,3.28
1,FKP0000002,LG Series 124,Fashion,LG,ValueKart,Mumbai,30693.79,10,27624.41,3.2,...,1921.82,0,Grey,One Size,7,True,"UPI,CARD",2091.473835,50.78,3.42

### 1.3 Initial Data Inspection

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_id          80000 non-null  object
 1   product_name        80000 non-null  object
 2   category            80000 non-null  object
 3   brand               80000 non-null  object
 4   seller              80000 non-null  object
 5   seller_city         80000 non-null  object
 6   price               80000 non-null  float64
 7   discount_percent    80000 non-null  int64
 8   final_price         80000 non-null  float64
 9   rating              80000 non-null  float64
 10  review_count        80000 non-null  int64
 11  stock_available     80000 non-null  int64
 12  units_sold          80000 non-null  int64
 13  listing_date        80000 non-null  object
 14  delivery_days       80000 non-null  int64
 15  weight_g            80000 non-null  float64
 16  warranty_months     80000 non-null  int64
 17  color               80000 non-null  object
 18  size                66516 non-null  object
 19  return_policy_days  80000 non-null  int64
 20  is_returnable       80000 non-null  bool
 21  payment_modes       80000 non-null  object
 22  shipping_weight_g   80000 non-null  float64
 23  product_score       80000 non-null  float64
 24  seller_rating       80000 non-null  float64
dtypes: bool(1), float64(7), int64(7), object(10)
memory usage: 14.7+ MB

In [74]:
# Get the exact dimensions (rows, columns)
print('Number of Rows: ',df.shape[0])
print('Number of Columns: ',df.shape[1])

Number of Rows:  80000
Number of Columns:  25

# Step 2: Data Exploration

### 2.1 Check Null Values

In [57]:
df.isnull().sum()

product_id                0
product_name              0
category                  0
brand                     0
seller                    0
seller_city               0
price                     0
discount_percent          0
final_price               0
rating                    0
review_count              0
stock_available           0
units_sold                0
listing_date              0
delivery_days             0
weight_g                  0
warranty_months           0
color                     0
size                  13484
return_policy_days        0
is_returnable             0
payment_modes             0
shipping_weight_g         0
product_score             0
seller_rating             0
dtype: int64

### 2.2 Check Duplicates

In [76]:
print('=> Total duplicate rows in this dataframe:',df.duplicated().sum())

=> Total duplicate rows in this dataframe: 0

### 2.3 Summary Statistics

In [72]:
#statical things 
df.describe() # OR df.describe(include='all')

,price,discount_percent,final_price,rating,review_count,stock_available,units_sold,listing_date,delivery_days,weight_g,warranty_months,return_policy_days,shipping_weight_g,product_score,seller_rating
count,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000,80000.000000,80000.000000,80000.00000,80000.000000,80000.000000,80000.000000,80000.000000
mean,30137.256454,21.350625,23697.780600,2.999671,25102.249875,499.194262,2507.515775,2020-09-28 12:16:35.760000,6.006325,2522.224622,15.56400,12.362250,2899.960047,50.673750,4.002218
min,200.140000,0.000000,101.080000,1.000000,0.000000,0.000000,0.000000,2018-01-01 00:00:00,1.000000,50.020000,0.00000,0.000000,53.155250,1.000000,3.000000
25%,15180.205000,10.000000,11341.722500,2.000000,12605.000000,249.000000,1261.000000,2019-05-16 00:00:00,3.000000,1283.117500,6.00000,7.000000,1469.583781,25.950000,3.500000
50%,30164.455000,20.000000,22571.265000,3.000000,25166.500000,499.000000,2513.000000,2020-10-01 00:00:00,6.000000,2524.550000,12.00000,10.000000,2892.632502,50.670000,4.010000
75%,45077.087500,40.000000,34521.057500,4.000000,37666.000000,749.000000,3754.000000,2022-02-09 00:00:00,9.000000,3753.195000,24.00000,15.000000,4304.695597,75.430000,4.500000
max,59995.800000,50.000000,59995.800000,5.000000,49999.000000,999.000000,4999.000000,2023-06-24 00:00:00,11.000000,4999.920000,36.00000,30.000000,6234.757448,100.000000,5.000000
std,17274.048682,16.354446,14726.821259,1.156238,14428.769942,288.917706,1439.519972,NaN,3.160630,1428.287966,12.91307,10.019794,1650.921766,28.562732,0.577595

# Step 3: Data Cleaning & Preprocessing

### 3.1 Change data type

In [78]:
# Change data type 'listing_date' column object to datetime
df['listing_date']=pd.to_datetime(df['listing_date'])

### 3.2 Handle missing values

In [87]:
# Replaces NaN values in the size column with 'Not mentioned'
df['size']=df['size'].fillna('Not Mentioned')

### 3.3 Validate Data Types

In [84]:
# show only numeric columns in this df
numeric_col = list(df.select_dtypes(include=['int64','float64']).columns)
print('=> Numeric Data type columns:\n',numeric_col)
print('=> Number of Columns: ',len(numeric_col))
# show categorical columns only 
cat_col = list(df.select_dtypes(include='object').columns)
print('\n=> Categorical columns:\n',cat_col)
print('=> Number of Columns: ',len(cat_col))
# Show datetime columns
date_time = list(df.select_dtypes(include='datetime64[ns]').columns)
print('\n=> Date_Time columns:',date_time)
print('=> Number of Columns: ',len(date_time))

=> Numeric Data type columns:
 ['price', 'discount_percent', 'final_price', 'rating', 'review_count', 'stock_available', 'units_sold', 'delivery_days', 'weight_g', 'warranty_months', 'return_policy_days', 'shipping_weight_g', 'product_score', 'seller_rating']
=> Number of Columns:  14

=> Categorical columns:
 ['product_id', 'product_name', 'category', 'brand', 'seller', 'seller_city', 'color', 'size', 'payment_modes']
=> Number of Columns:  9

=> Date_Time columns: ['listing_date']
=> Number of Columns:  1

In [92]:
# Show all unique category
df['category'].unique()

array(['Toys', 'Fashion', 'Beauty', 'Home & Kitchen', 'Appliances',
       'Electronics', 'Sports', 'Mobiles'], dtype=object)

# Connecting Python script to PostgreSQL

In [93]:
from sqlalchemy import create_engine

username = "postgres"
password = "Malay2200"   # the password you set in pgAdmin
host = "localhost"
port = "5432"
database = "Flipkart data analysis"

engine = create_engine(
    f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}"
)

# Step 2: Load DataFrame into PostgreSQL
table_name = "flipkart"   # choose any table name
df.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

Data successfully loaded into table 'flipkart' in database 'Flipkart data analysis'.